
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:#2A444C;
   line-height: 1.6;
}
   

 

   
    
   



p{
    margin-block: 30px;
}

ul{
    margin-block: 20px;
}

main{
    
    text-align: center;
    
}

h1{
    font-size: 3rem;
    color: #8AB3BF;
    text-align: center;
    line-height: 1.1;
    

 
}

h2{
    color: #495C61;
    background:#8CA3A8;
  
}

h3{
    color: #495C61;
    background:#8CA3A8;
   
}

section{
    
    margin-block: 50px;
}

footer{
    background-color: #8CA3A8;
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    width: 1000px;
    display: block;
    margin: 0 auto;
}


    


